<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style/style.css"/>
    <title>Matvop</title>
  </head>
  <body>
    <nav>
      <div class="logo">
          <a href="/">Матвоп</a>
      </div>
      <div class="navigation">
          <ul class="navbar-">
            <li>
                <a href="/">Главная</a>
            </li>
            <li class="search">
                <form action="\" method="get">
                  <input type="text" placeholder="Искать здесь...">
                  <button type="submit"></button>
                </form>
            </li>
            <li>
                <a href="/register">Зарегистрироваться</a>
            </li>
            <li>
                <a href="/login">Войти </a>
            </li>
          </ul>
      </div>

    </nav>
      <div class="container">
          <% for(var i=0; i<Quests.length;i++) {%>
              <div class="question">
                  <h4><div class="title"><%=Quests[i].title%></div></h4>
                  <div class="desription"><%=Quests[i].description%></div>
                  <form method="get" action="/question/<%= Quests[i]._id %>" class="ml-4  text-right">
                    <button type="submit" class="btn btn-secondary mr-6">Ответить</button>
                  </form>
              </div>
            <%} %>
      </div>
  </body>
</html>