<div id="profile" class="pmodal">
    <div class="pmodal-content animate">
      <ul class="submenu">
        <li>
          <a href="/user/<%=user%>">Профиль</a>
        </li>
        <li>
          <a href="/info">Социальный граф</a>
        </li>
        <li>
          <a href="/logout">Выйти</a>
        </li>
      </ul>
    </div>
  </div>