<div id="profile" class="pmodal">
    <div class="pmodal-content animate">
      <ul class="submenu">
        <li>
          <a href="/user/>">Профиль</a>
        </li>
        <li>
          <a>Помощь</a>
        </li>
        <li>
          <a href="/logout">Выйти</a>
        </li>
      </ul>
    </div>
  </div>